/*=============================== CUSTOM CHECKBOX AND RADIO BOX=============================== */
input[type=checkbox].css-checkbox, input[type=radio].css-checkbox {
	display: none;
}
input[type=checkbox].css-checkbox + .css-label, input[type=radio].css-checkbox + .css-label {
	padding-left: 25px;
	margin-left: 20px;
	height: 16px;
	display: inline-block;
	line-height: 16px;
	vertical-align: middle;
	cursor: pointer;
	background: url(../images/custom-check.png) no-repeat;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input[type=checkbox].css-checkbox:checked + .css-label, input[type=radio].css-checkbox:checked + .css-label {
	background-position: 0 -16px;
}
input[type=radio].css-checkbox + .css-label {
	background: url(../images/custom-radio.png) no-repeat;
}
/*modal popup center starts*/
.modal {
	text-align: center;
}
.modal:before {
	display: inline-block;
	vertical-align: middle;
	content: " ";
	height: 100%;
}
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
/*modal popup center ends*/


/*Circle Menu*/
/* Custom Stylesheet */

/* Required Stylesheets */
.wheel-button {
	position: fixed;
}
.wheel {
	margin: 0;
	padding: 0 !important;
	list-style: none;
	width: 250px; /* this will determine the diameter of the circle  */
	height: 250px; /* this will determine the diameter of the circle  */
	visibility: hidden;
	position: relative;
	display: none;
}
.wheel li {
	overflow: hidden;
	float: left;
}
.wheel li a {
	display: block;
}
/* ALL DEMO */

.pointer {
	color: #34495e;
	font-family: 'Pacifico', cursive;
	font-size: 22px;
	margin-top: -15px;
}
.wheel-button, .wheel-button:visited {
	background: #3c5a9a;
	text-align: center;
	border-radius: 106px 0 0;
	display: block;
 -webkit-border-top-left-radius: 106px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;

  -moz-border-radius-topleft: 106px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;

  border-top-left-radius: 106px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
	width: 106px;
	height: 100px;
	color: white;
	bottom: 0;
	right: 0;
}
.wheel-button:hover {
	color: white;
}
.wheel li a i {
	margin: 0;
	width: 114px;
	height: 114px;
}
.wheel-button i, .wheel li i {
	display: block;
	font-size: 50px;
	height: 50px;
	line-height: 50px;
	margin:27px 40px;
	position: relative;
	width: 50px;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.wheel-button.active i {
	transform: rotate(135deg);
	-ms-transform: rotate(135deg); /* IE 9 */
	-webkit-transform: rotate(135deg); /* Safari and Chrome */
}

.wheel-button .toggleActive{ transform: rotate(0);
	-ms-transform: rotate(0); /* IE 9 */
	-webkit-transform: rotate(0); /* Safari and Chrome */}
	
	
	
.wheel li a, .wheel li a:visited, .wheel li a:hover {
	background-color: #3c5a9a;
	border-radius: 50%;
	text-align: center;
	width: 113px;
	height: 113px;
}
.uploaddoc-icon, .addfolder-icon {
	background: url(../images/repository/upload-doc.png) no-repeat center;
}
.addfolder-icon {
	background-image: url(../images/repository/add-folder.png);
	margin-top: 105px !important;
}
/* DEMO #4 */

.main {
	background: rgba(0,0,0,0.03);
	border-radius: 5px;
	max-width: 500px;
	width: 100%;
	margin: 50px auto;
	padding: 10px 25px;
	position: relative;
	height: 350px;
}
.wheel-button {
	z-index:99;
	position: absolute;
	margin: 0;
}
.wheel-button.nw {
	bottom:0;
	right: 0;
}

#hover-overlay {
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
#rightdown-menu-view.active {	
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	z-index: 1;	
/*	left: 0;
	position: fixed;
	top: 0;
	right:0;
	bottom:0;*/
}
/*Circle menu css ends*/