/*=============================== Import Common Styles =============================== */
@import url("reset.css");
/*=============================== vendors Styles =============================== */
/*@import url("selectric/selectric.css");*/
@import url("plugin.css");
/*=============================== Common =============================== */

html, body { position: relative; height: 100%; }
body { font-size: 14px; color: #4c4c4c; font-style: normal; background-color: #f2f4f7; -webkit-font-smoothing: antialiased; line-height: normal; overflow-x: hidden; font-family: Arial }
input { outline: none; }
h2 { font-size: 16px; font-weight: 600; }
h3 { font-size: 14px; font-weight: 600; }
.clearfix { zoom: 1; }
.clearfix:after { content: ""; display: block; clear: both; }
input[type="button"].btn-default, button.btn-default { font-size: 18px; font-family: Arial, Helvetica, sans-serif; background-color: #2b3d53; border: none; line-height: 20px; border-radius: 0; padding: 13px 60px; color: #fff; float: right; }
/******* Login *******/
#container { background-color: #fff; display: table; width: 100%; height: 100%;/*   */ }
#login-section-view { /*display: table;
	width: 100%;
	height: 100%;
	 */ display: table; margin: 0 auto; text-align: center; vertical-align: middle; width: 40%; height: 100% }
.login-content { /*display: table-cell;
	height: 395px;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	width: 270px;*/ }
.logo { margin: 0 auto 20px; width: 208px; }
.newgen_logo { width: 162px }
.login-form, .url-form { width: 370px; margin: 0 auto; }
.login-container { background-color: #fff; margin: 0 auto; padding: 20px; width: 498px; height: auto; display: table-cell; vertical-align: middle }
.login-field { margin: 10px auto; position: relative; width: 95%; }
.url-field { background: #fff url(../images/url-icon.png) no-repeat 10px center; }
.user-field { background: #fff url(../images/user-icon.png) no-repeat 10px center; }
.password-field { background: #fff url(../images/password.png) no-repeat 10px center; }
.cabinet-field { background: #fff url(../images/cabinet.png) no-repeat 10px center; }
.login-field input[disabled], .cabinet-field.disabled-select { background-color: #b3b2b2; border-color: #b3b2b2; }
.login-field input, .cabinet-field { background-color: #fff; border: 1px solid #b3b2b2; color: #364c6b; font-size: 14px; padding: 10px 10px 10px 35px; width: 100%; }
.cabinet-field { width: 95%; }
.cabinet-field select { width: 100%; background-color: transparent; border: none; }
.login-field .caret { border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 10px solid #364c6b; position: absolute; right: 10px; top: 18px; display: none; }
.top-cabinet-field { padding: 10px 10px 10px 40px; background: url(../images/select_server.png) no-repeat 7px 9px; display: none }
.login-form input.btn-default[type="button"], .login-form button.btn-default { width: 95%; float: none; height: auto; padding: 10px; font-size: 18px; margin-top: 20px; }
.url-form input.btn-default[type="button"], .url-form button.btn-default { margin-top: 10px; }
.nemp-logo { color: #364c6b; font-style: italic; line-height: 30px; margin: 60px auto 0; width: 100px; }
.nemp-logo img { width: auto; margin: 0 auto; }
.login-submenu { margin-top: 20px; border-top: 1px solid #364c6b; }
.login-submenu li { float: left; width: 50%; border-right: 1px solid #364c6b; line-height: 30px; color: #313131; font-weight: 300; height: 30px; margin: 10px 0; }
.login-form { margin-bottom: 45px }
.login-submenu li:last-child { border: none; }
.arrow_box { position: relative; border-bottom: 1px solid #364c6b; margin: 20px 0 25px; }
.arrow_box:after, .arrow_box:before { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.arrow_box:after { border-color: rgba(246, 247, 242, 0); border-top-color: #f6f7f2; border-width: 10px; margin-left: -10px; }
.arrow_box:before { border-color: rgba(54, 76, 107, 0); border-top-color: #364c6b; border-width: 11px; margin-left: -11px; }
#login-footer-view { height: 15px; position: absolute; bottom: 0; left: 0; width: 100%; text-align: center; background-color: #848282; color: #fff; line-height: 15px; font-size: 9px; }
/******* Repository *******/
header { background-color: #006699; width: 100%; position: relative; top: 0; left: 0; height: 56px; padding: 0; z-index: 10; }
.header-left { position: absolute; left: 15px; top: 17px; }
.back-icon, .menu-icon, .filter-icon, .setting-icon { background: url(../images/arrback-icon.png) no-repeat center; width: 17px; height: 28px; display: inline-block; }
.back-icon { background: url(../images/arrback-icon.png) no-repeat 0 0; }
.menu-icon { background-image: url(../images/menu-icon.png); height: 23px; width: 25px; background-size: 100% 100%; }
.menu-icon.active {/* background-image: url(../images/menu-active-icon.png); */ }
.filter-icon { background-image: url(../images/repository/filter-icon.png); width: 28px; margin-right: 35px; }
.search-star { background-image: url(../images/search_icon_tab.png); width: 37px; height: 34px; display: inline-block; position: absolute; right: 50px; top: -3px }
.preview-edit-icon { background-image: url(../images/edit_icon.png); width: 34px; margin-right: 7px; height: 34px; display: inline-block; }
.preview-delete-icon { background-image: url(../images/delete_icon.png); width: 25px; margin-right: 7px; height: 30px; display: inline-block; }
.preview-search-icon { position: absolute; background-image: url(../images/preview-search-icon.png); width: 28px; right: 141px; height: 28px; display: inline-block; top: 12px }
.search_area { position: fixed; left: 0; top: 0; background: #313131; width: 100%; z-index: 99999; display: none }
.saved_search_criteria { position: fixed; left: 0; top: 0; background: #636363; width: 100%; z-index: 99999; display: none }
.saved_search_criteria .saved_search_criteria_header { background: #3c3c3c }
.saved_search_criteria .saved_search_criteria_header img { width: auto; padding: 10px; float: left }
.saved_search_criteria .saved_search_criteria_header strong { color: #fff; font-size: 24px; font-weight: 400; float: left; line-height: 56px; text-align: left; font-weight: normal }
.saved_search_criteria .saved_search_criteria_header a { font-size: 22px; text-decoration: underline; color: #fff; float: right; margin: 12px 20px }
.saved_search_criteria .saved_search_criteria_header a:hover { text-decoration: none }
.saved_search_criteria .saved_search_criteria_content { overflow-y: scroll; min-height: 50px !important; height: 350px; }
.saved_search_criteria .saved_search_criteria_content ul li { border-bottom: 1px solid #5c5c5c; padding: 15px 40px; }
.saved_search_criteria .saved_search_criteria_content ul li span { float: left; color: #fff; font-size: 24px }
.saved_search_criteria .saved_search_criteria_content ul li a { background: #ffffff; float: right; color: #636363; font-size: 18px; border-radius: 4px; margin: 0 0 0 20px; line-height: 28px; padding: 0 10px }
.search_area .search_top { display: block; padding: 15px 20px 0 20px }
.search_area .search_top strong { float: left; }
.search_area .search_top input[type=search] { background: none; border: 0; color: #fff; height: 28px; line-height: 28px; margin-left: 10px; width: 90% }
.search_area .search_top .search_right { float: right; border-bottom: 1px solid #fff; width: 97% }
.search_area .search_top a { float: right; border-radius: 50%; width: 25px; height: 25px; background: #fff; font-size: 23px; text-align: center; line-height: 25px; transform: rotate(135deg); -webkit-transform: rotate(135deg) }
.search_area span a { float: right; color: #fff; margin-right: 20px; font-size: 16px; line-height: 22px; margin-bottom: 5px }
.setting-icon { background-image: url(../images/icon_user.png); width: 30px; height: 34px; background-size: 100% 100%; }
.header-heading { text-align: left; font-size: 24px; color: #fff; font-weight: 400; line-height: 56px; padding-left: 52px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.header-right { position: absolute; right: 12px; top: 12px; }
.header-right .dropdown { display: inline-block; }
.setting-menu { background-color: rgba(0,102,153,0.88); border-radius: 0; margin-top: 0; right: -12px !important; }
.dropdown.open .setting-icon { }
.setting-menu li, aside li { border-bottom: 1px solid #a8a8a8; }
.setting-menu li:last-child { border: none; }
.setting-menu li a, aside li a { background: url(../images/help.png) 15px center no-repeat; color: #fff; display: block; font-size: 18px; line-height: 30px; padding: 10px 10px 10px 65px; }
.setting-menu.dropdown-menu > li > a:hover, .setting-menu.dropdown-menu > li > a:focus { background-color: transparent; color: #fff; }
.setting-menu li a.logout-icon { background-image: url(../images/logout.png); }
.setting-menu li a.refresh-icon { background-image: url(../images/reset.png); }
aside { position: fixed; width: 240px; height: 100%; left: -240px; top: 56px; background-color: rgba(0,102,153,0.88); color: #fff; z-index: 9; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
aside.active { left: 0; }
aside li a { background-image: url(../images/activities-icon.png); }
aside li.active, aside li:hover { background: #0c4c6c }
aside li a.favourite-icon { background-image: url(../images/favourite-icon.png); }
aside li a.Repository-icon { background-image: url(../images/Repository-icon.png); }
aside li a.Search-icon { background-image: url(../images/search_icon.png); }
#page-container-view { background-color: #fff; display: table-cell; height: 100%; padding: 58px 0px 100px 0; }
.search-section { background-color: #e0dddd; padding: 7px 14px; position: relative; width: 100%; top: 0; left: 0px; }
.outer_header { z-index: 11; position: fixed; top: 0; /* height: 133px;*/ background: #f2f4f7; width: 100%; }
.search-icon { background: url("../images/repository/search-icon.png") no-repeat scroll right center / 100% 100% rgba(0, 0, 0, 0); float: left; height: 24px; width: 24px; margin: 2px 0 2px 8px; }
.search-section i { float: right; cursor: pointer; line-height: 19px; margin: 9px 5px 0 0; position: relative;/* transform: rotate(135deg); transition: all 1s ease 0s;*/ width: 10px; display: none; background: url(../images/input_close.png) no-repeat 0 0; height: 9px }
.search-input { line-height: 26px; background-color: #fff; border: medium none; display: inline-block; font-family: Arial, Helvetica, sans-serif; font-size: 18px; padding: 0px 10px; vertical-align: top; float: left; color: #000000; width: 77% }
.folder-list { }
.folder-list > li { padding: 10px 0; color: #2b3d53; cursor: pointer; border-bottom: 1px solid #c8c8c8; font-size: 18px; font-weight: 300; position: relative; overflow: hidden; padding-left: 10px; }
.folder-list > li .pull-left { font-size: 18px; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.folder-list > li .pull-left.active { margin-left: -3.8% }
.folder-list > li .pull-left .right_content_area { display: table-cell; padding-left: 15px }
.folder-list-inside > li .pull-left .right_content_area { float: left; padding-left: 0 }
.folder-list-inside > li h4 { padding-top: 2px }
.folder-list > li .pull-left .right_content_area .inner_content_area { float: left; font-size: 14px; letter-spacing: 0.5px; padding-top: 5px }
.folder-list-inside > li .pull-left .right_content_area .inner_content_area { padding-top: 0 }
.folder-list > li .pull-left .right_content_area .inner_content_area span { color: #949494 }
.folder-list > li .pull-left .right_content_area .inner_content_area small { color: #238be8; padding: 0 5px }
.folder-list > li .pull-right { top: 0px; position: absolute; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.folder-icon, .pdf-icon, .tiff-icon, .jpg-icon, .png-icon, .gif-icon, .doc-icon, .bmp-icon, .blank-icon { background: url(../images/repository/folder-icon.png) center no-repeat; float: left; display: inline-block; margin-right: 10px; vertical-align: middle; width: 43px; height: 53px; background-size: 100% 100%; }
.folder-icon { width: 48px; height: 41px }
.pdf-icon { background-image: url(../images/repository/PDF.png); }
.tiff-icon { background-image: url(../images/repository/TIFF.png); }
.jpg-icon { background-image: url(../images/repository/JPG.png); }
.png-icon { background-image: url(../images/repository/PNG.png); }
.gif-icon { background-image: url(../images/repository/GIF.png); }
.doc-icon { background-image: url(../images/repository/DOC.png); }
.bmp-icon { background-image: url(../images/repository/BMP.png); }
.blank-icon { background-image: url(../images/repository/Blank.png); }
.pull-right.active { right: 0; }
.swipe-option li { float: left; width: 70px; }
.swipe-option li a { background: #5484c0 url(../images/repository/download-icon.png) center no-repeat; display: block; width: 50px; height: 50px; border-radius: 50%; }
.swipe-option li a.edit-icon { background-color: #1bbc9b; background-image: url(../images/repository/edit-icon.png); }
.swipe-option li a.delete-icon { background-color: #f15858; background-image: url(../images/repository/delete-icon.png); }
.add-icon { background: url("../images/add-icon.png") no-repeat 47px 43px / 30% 30% #3C5A9A; width: 106px; height: 100px; border-radius: 120px 0 0; display: block; }
#modal-popup-view .modal-dialog { width: 478px; position: relative; font-size: 18px; }
#modal-popup-view .modal-content { border-radius: 0; }
.close-dialog { background: url("../images/cross-icon.png") no-repeat scroll center center / 35% 35% #6e6d6d; border: 1px solid #373737; border-radius: 50%; height: 35px; position: absolute; right: -19px; top: -19px; width: 35px; }
#modal-popup-view .modal-header { padding: 10px; background-color: #2e5380; border: none; color: #fff; text-align: left; }
#modal-popup-view .modal-text { color: #0a0a0a; line-height: 37px; padding: 0 10px; }
.filter-list li { color: #0a0a0a; line-height: 39px; }
.filter-list li:last-child { border: none; }
.filter-list li a { display: block; }
.addfolder-input { padding-top: 10px; }
.addfolder-input:after { position: relative; width: 100px; }
.addfolder-input:after { position: absolute; content: ''; bottom: 45%; width: 91%; height: 5px; left: 20px; border: 1px solid #3c5a9a; border-right: 2px solid #3c5a9a; border-width: medium 2px 1px; border-top: none; -webkit-transform: perspective(10px) rotateX(-5deg); -moz-transform: perspective(10px) rotateX(-5deg); transform: perspective(10px) rotateX(-5deg); }
.addfolder-input input { border: medium none; font-family: Arial, Helvetica, sans-serif; font-size: 18px; width: 100%; padding: 10px 19px 0px 19px; }
.edit-window .editfolder-input { padding-top: 30px; }
.edit-window .editfolder-input:after { position: relative; width: 100px; }
.edit-window .editfolder-input:after { position: absolute; content: ''; bottom: 45%; width: 79%; height: 5px; left: 80px; border: 1px solid #3c5a9a; border-right: 2px solid #3c5a9a; border-width: medium 2px 1px; border-top: none; -webkit-transform: perspective(10px) rotateX(-5deg); -moz-transform: perspective(10px) rotateX(-5deg); transform: perspective(10px) rotateX(-5deg); }
.edit-window .editfolder-input input { border: medium none; font-family: Arial, Helvetica, sans-serif; font-size: 18px; width: 87%; padding: 0 19px; float: right }
.edit-window .modal-edit { text-align: center }
.edit-window .modal-edit .input_cancel { display: inline-block; border-right: 1px solid #7e9db9 }
.edit-window input.btn-edit[type="button"], button.btn-edit { background-color: #fff; border: medium none; border-radius: 0; color: #1a88b6; float: none; font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 20px; margin: 0 30px; padding: 8px 30px; }
.modal-new { text-align: center }
.modal-new .input_cancel { display: inline-block; border-right: 1px solid #7e9db9; }
.modal-new input.btn-edit[type="button"], button.btn-edit { background-color: #fff; border: medium none; border-radius: 0; color: #1a88b6; float: none; font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 20px; margin: 0 30px; padding: 8px 30px; }
#modal-popup-view .delete-window .modal-text { padding: 0 }
.delete-window .deletefolder-input { padding: 10px 0; text-align: center; border-bottom: 1px solid #7e9db9 }
.delete-window .modal-delete { text-align: center }
.delete-window .modal-delete .input_cancel { display: inline-block; border-right: 1px solid #1a88b6 }
.delete-window input.btn-delete[type="button"], button.btn-delete { background-color: #fff; border: medium none; border-radius: 0; color: #1a88b6; float: none; font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 20px; margin: 0 30px; padding: 8px 30px; }
#modal-popup-view .download-window .modal-text { padding: 0 }
.download-window .downloadfolder-input { border-bottom: 1px solid #7e9db9; padding: 10px; text-align: left; }
.pull-right { position: absolute; right: -183px; top: 43px; }
.pull-right .swipe { float: left; }
.pull-right .swipe li { float: left; position: relative }
.pull-right .swipe li a { color: #fff; padding: 0 15px; line-height: 45px; float: left; font-size: 18px; }
.pull-right-new .swipe li a { padding: 0 10px }
.pull-right .swipe li.More a { background: #adadae; }
.pull-right .swipe li.More.active { display: block }
.pull-right .swipe li.Edit a, .pull-right .swipe li.download a { background: #006699; }
.pull-right-new .swipe li.Edit a, .pull-right-new .swipe li.download a { background: none; margin-top: 7px }
.pull-right .swipe li.delete a { background: #f15858; }
.pull-right-new .swipe li.delete a { background: none; margin-top: 7px }
.pull-right .swipe-option { float: left; height: 65px; width: 32px; display: block; }
.pull-right-new .swipe-option { height: 45px }
.pull-right .swipe-option a { width: 10px; margin-left: 12px; padding: 0 !important; float: left; height: 100%; }
.modal-button { margin: 20px 10px; }
.search-center { background: white; width: 100%; }
.more_folder { background: url(../images/repository/more_back.png) repeat 0 0; position: fixed; bottom: 0; left: 0; text-align: center; width: 100%; display: none; z-index: 99999 }
.more_folder.active { display: block }
.more_folder ul { width: 80%; margin: 0 auto; padding: 15px 0 }
.more_folder ul li { width: 50%; float: left; color: #fff; font-size: 18px; min-height: 100px }
.more_folder ul li span { display: block }
.more_folder ul li img { width: auto; height: auto }
.more_folder ul li:first-child { border-bottom: 1px solid #fff; border-right: 1px solid #fff }
.more_folder ul li:nth-child(2) { border-bottom: 1px solid #fff }
.more_folder ul li:nth-child(3) { border-right: 1px solid #fff; padding-top: 10px }
.more_folder ul li:last-child { padding-top: 10px }
.modal-property { margin: 0 -10px; border-top: 1px solid #7e9db9 }
.modal-property .input_cancel { display: inline-block; background-color: #fff; color: #1a88b6; float: none; font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 20px; text-align: center; padding: 8px 30px; width: 100% }
.modal-property .input_cancel .btn { background: #fff; font-size: 18px; }
.folder-list > li.inside_slide .pull-right { right: -262px }
.folder-list > li.inside_slide .pull-right .swipe-option { height: 74px }
.folder-list > li.inside_slide .pull-right .swipe li a { line-height: 74px }
.folder-list > li.inside_slide .pull-right.active { right: 0; }
.empty_container { margin: 0 auto; text-align: center; width: 100%; height: 100%; display: table }
.empty_container p { display: table-cell; vertical-align: middle; font-size: 18px }
.upload_container { text-align: center }
.upload_container ul { padding: 24px 0; float: left; width: 100% }
.upload_container ul li { width: 50%; float: left }
.upload_container ul li span { height: 74px; display: block; vertical-align: middle }
.upload_container ul li img { width: auto }
.upload_container ul li strong { display: block; color: #727779; font-size: 18px }
/* Preview Container starts here */
.preview_area { background: #fff !important }
.preview_area .dropdown { position: absolute; right: 0; top: 4px }
.preview_area .preview-edit-icon { margin-left: 40px; margin-right: 60px; }
.preview_area .header-right { top: 9px }
.preview_area footer { background: #313131; text-align: center; height: 85px; position: absolute; bottom: 0; left: 0; width: 100% }
.preview_area footer ul { margin: 0 auto; text-align: center; padding: 20px 0 0 0 }
.preview_area footer ul li { display: inline-block }
.preview_area footer ul li a { height: 40px; width: 40px; display: inline-block }
.preview_area footer ul li a.add { background: url(../images/footer_add.png) no-repeat 0 0; height: 37px }
.preview_area footer ul li a.reset { background: url(../images/footer_refresh.png) no-repeat 0 0; width: 46px }
.preview_area footer ul li a.upload { background: url(../images/footer_uipload.png) no-repeat 0 0; }
.preview_area .page { margin: 70px 5% 105px; border: 1px solid #313131; height: auto; height: 90% !important; text-align: center; position: relative; padding: 60px 20px 60px 20px }
.preview_area .page img { max-width: 100%; max-height: 100% }
.preview_area .page .tick { position: absolute; right: 150px; top: 10px; background: #cccccc url(../images/tick.png) no-repeat center center; width: 32px; height: 32px; border-radius: 50%; z-index: 99999 }
.preview_area .page .tick_active { background: #2A867C }
.swiper-container .tick { position: absolute; right: 10px; top: 10px; background: #cccccc url(../images/tick.png) no-repeat center center; width: 32px; height: 32px; border-radius: 50%; z-index: 99 }
.swiper-container .tick_active { position: absolute; right: 10px; top: 10px; background: green url(../images/tick.png) no-repeat center center; width: 32px; height: 32px; border-radius: 50%; z-index: 99 }
.preview_area .page p { color: #313131; font-size: 80px; padding: 15.5% 0; text-indent: -9999px }
/* Preview Container ends here */

/* Preview edit section starts here */
.preview_edit { background: #fff !important; position: absolute; width: 100%; display: none; z-index: 9999; height: 100% }
.preview_edit .back_arrow { background: url(../images/preview_back_arrow.png) no-repeat 0 0; width: 20px; height: 27px; margin: 14px 0; cursor: pointer }
.preview_edit .edit_container h4 { font-size: 30px; color: #1a88b6; border-bottom: 1px solid #1a88b6 }
.preview_edit .form_row { margin: 30px 0 }
.preview_edit .form_row label { width: 38%; float: left; font-size: 30px; line-height: 43px; color: #313131 }
.preview_edit .form_row label span { color: red }
.preview_edit .form_row input[type=text], .preview_edit .form_row textarea, .preview_edit .form_row select { width: 60%; float: right }
.preview_edit .form_row input[type=text] { background: #e2e2e2; border: 1px solid #acacac; color: #313131; padding: 0 7px; font-size: 26px; line-height: 41px; height: 41px }
.preview_edit .form_row textarea { background: #e2e2e2; border: 1px solid #acacac; color: #313131; padding: 0 7px; font-size: 26px; line-height: 41px; height: 155px }
.preview_edit #Textarea_Remarks { display: none }
.preview_edit .form_row a { float: right; color: #3695bf; font-size: 22px; line-height: 40px }
.preview_edit .form_row select { font-size: 26px; color: #313131; background: #e2e2e2; border: 1px solid #acacac; height: 41px; line-height: 41px }
.preview_edit .outer_form { padding: 20px 0 50px 0; display: none }
.preview_edit .outer_form label { padding-left: 6% }
.preview_edit .button_area { border-top: 1px solid #7e9db9; padding: 12px 0; text-align: center; position: fixed; bottom: 0; width: 100%; background: #fff }
.preview_edit .button_area input[type="button"], .preview_edit .button_area input[type="reset"] { background-color: #fff; border: medium none; border-radius: 0; color: #1a88b6; float: none; font-family: Arial, Helvetica, sans-serif; font-size: 30px; line-height: 20px; margin: 0 30px; padding: 8px 30px; }
.preview_edit .button_area a { background-color: #fff; border: medium none; border-radius: 0; color: #1a88b6; float: none; font-family: Arial, Helvetica, sans-serif; font-size: 30px; line-height: 20px; margin: 0 30px; padding: 8px 30px; }
.preview_edit .button_area .input_reset { border-right: 1px solid #7e9db9; display: inline-block; }
/* Preview edit section ends here */
.preview_image { border: 1px solid #313131; height: 90% !important; margin: 50px 20%; padding: 20px; position: relative; text-align: center; }
.preview_image .cross { position: fixed; top: 0; background: #333232; opacity: 0.5; border-radius: 0 0 0 106px; color: white; display: block; height: 100px; right: 0; text-align: center; width: 100px; }
.preview_image .cross i { display: block; font-size: 50px; line-height: 50px; margin: 20px 40px 27px 40px; position: relative; transition: all 1s ease 0s; width: 50px; transform: rotate(135deg); }
.preview_area .preview_inner { margin: 0; border: none; }
.swiper-container { width: 90%; height: 75%; position: absolute !important; top: 10%; left: 5% }
.tab_area { margin-top: 78px }
.tab_area .tabs { margin: 0 auto; display: table; width: 100% }
.tab_area .tabs > ul { display: table-row; width: 100% }
.tab_area .tabs > ul > li { display: table-cell; width: 50%; border-bottom: 1px solid #2e5380; border-top: 1px solid #2e5380; }
.tab_area .tabs > ul > li a { display: block; color: #656565; font-size: 18px; text-align: center; padding: 10px 0; background: #fff; }
.tab_area .tabs > ul > li a.active { background: #2e5380; color: #fff }
.tab_area .tabs > ul > li:last-child a { border-left: none; }
.tab_area .tabs > ul > li:first-child a { }
.tab_area .tabs > ul > li:last-child a.active { background: #2e5380; color: #fff }
.tab_area > .tab_section input[type=reset] { float: right; font-size: 20px; color: #3a515a; background: url(../images/reset.png) no-repeat 0 0; padding: 0 0 0 30px; line-height: 20px; margin-bottom: 15px; border: none }
.tab_area .tab_section .field_container > input[type=text] { border: 1px solid #aeaeae; width: 100%; float: left; font-size: 24px; color: #737373; line-height: 48px; height: 48px; padding: 0 20px; margin-top: 38px }
.tab_area .tab_section .field_container > .select_row { background-color: #fff; border: 1px solid #b3b2b2; color: #364c6b; font-size: 14px; padding: 10px; position: relative; margin-top: 50px; float: left; width: 100%; margin-bottom: 50px }
.tab_area .tab_section .field_container .date_section { float: left; width: 100%; padding-top: 28px }
.tab_area .tab_section .field_container .date_section input[type=radio] { float: left; margin-top: 16px }
.tab_area .tab_section .field_container .date_section label { color: #313131; font-size: 24px; float: left; line-height: 48px }
.tab_area .tab_section .field_container .date_section .select_row { background-color: #fff; border: 1px solid #b3b2b2; color: #364c6b; font-size: 14px; padding: 10px; position: relative; float: left; }
.tab_area .tab_section .field_container .date_section .select_row .caret { border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 10px solid #a1a0a1; position: absolute; right: 10px; top: 21px; display: none; }
.tab_area .tab_section .field_container .date_section .month { margin-left: 40px }
.tab_area .tab_section .field_container .date_section .col_from { position: relative; float: left; width: 15%; }
.tab_area .tab_section .field_container .date_section input[type=text] { background-color: transparent; border: medium none; font-size: 24px; width: 100%; background-color: #fff; border: 1px solid #b3b2b2; color: #364c6b; float: left; font-size: 24px; padding: 10px; position: relative; }
.tab_area .tab_section .field_container .date_section input[type=text].disabled_date { color: #797979 }
.tab_area .tab_section .field_container .date_section img { position: absolute; right: 7px; top: 18px; width: auto; }
.tab_area .tab_section .field_container .date_section label[for=to], .tab_area .tab_section .field_container .date_section label[for=toFolder] { padding: 0 25px }
.tab_area .tab_section .field_container .select_row select { background-color: transparent; border: medium none; width: 100%; font-size: 24px }
.tab_area .tab_section .field_container .select_row .caret { border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 10px solid #364c6b; position: absolute; right: 10px; top: 21px; display: none; }
.tab_area .tab_section .field_container .select_input_combo { padding-top: 20px }
.tab_area .tab_section .field_container .select_input_combo label { color: #313131; font-size: 24px; line-height: 48px }
.tab_area .tab_section .field_container .select_input_combo label span { color: red }
.tab_area .tab_section .field_container .select_input_combo input[type=text] { border: 1px solid #aeaeae; float: left; font-size: 24px; color: #737373; line-height: 48px; height: 48px; padding: 0 20px; }
.tab_area .tab_section .field_container .select_input_combo .select_row { background-color: #fff; border: 1px solid #b3b2b2; color: #364c6b; font-size: 14px; padding: 7px 10px; position: relative; float: left; margin: 0; }
.form_search { position: fixed; left: 0; bottom: 0; text-align: center; z-index: 99999 }
.form_search a { background: #2b3d53; color: #fff; font-size: 30px; line-height: 72px; display: block }
.swiper-wrapper { position: relative }
.left_arrow { position: absolute; left: -20px; top: 48%; font-size: 30px }
.right_arrow { position: absolute; right: -20px; top: 48%; font-size: 30px }
/*.swiper-wrapper img .active { display: block }
.swiper-wrapper img { align-items: center; background: none repeat scroll 0 0 #fff;  font-size: 18px; justify-content: center; position: absolute; top: 0; left: 0; text-align: center; }*/
#rightdown-menu-view { position: fixed; bottom: 0; right: 0; z-index: 11 !important }
#rightdown-menu-view ul { position: absolute; bottom: 15px; right: 15px; display: none }
#rightdown-menu-view ul.active { display: block }
#rightdown-menu-view ul li { float: left; overflow: hidden; }
#rightdown-menu-view ul li a { display: block; }
#rightdown-menu-view ul li a, #rightdown-menu-view ul li a:visited, #rightdown-menu-view ul li a:hover { background-color: #3c5a9a; border-radius: 50%; height: 113px; text-align: center; width: 113px; }
#rightdown-menu-view ul li a i { height: 114px; margin: 0; width: 114px; display: block; font-size: 50px; line-height: 50px; position: relative; transition: all 1s ease 0s; }
.bootstrap-datetimepicker-widget { height: 250px !important; }
.bootstrap-datetimepicker-widget ul.list-unstyled { box-shadow: none !important; border: 0 }
.search_criteria { background: #2b3d53; position: fixed; left: 50%; top: 50%; margin-left: -170px; margin-top: -37px; display: none }
.search_criteria p { color: #fff; font-size: 20px; background: url(../images/right_green.png) no-repeat 5px center; padding: 20px 30px 20px 53px; line-height: 34px }
.disable_icon { display: none }
/*Added by Ankit Kante for SWIPER*/
.swiper-pagination-red .swiper-pagination-bullet-active { background: red }
.swiper-slide .swiper-slide.prev { opacity: 0 }
.swiper_login { max-width: 768px; height: 100%; left: auto; position: static !important }
.swiper_login .swiper-pagination-white .swiper-pagination-bullet { width: 16px; height: 16px; border: 1px solid #525252; margin: 0 12px !important; }
.swiper_login .swiper-pagination-white .swiper-pagination-bullet-active { background: #525252 }
.swiper_login > .swiper-pagination { bottom: 74px !important; position: fixed !important }
/*autocomplete starts*/

.ui-autocomplete { position: fixed !important; }
.ui-autocomplete .ui-menu-item { line-height: 42px; border-bottom: 1px solid #000; }
.ui-autocomplete .ui-menu-item:last-child { border-bottom: none }
.ui-autocomplete .ui-menu-item a { color: #3c5a9a }
/*autocomplete ends*/

#galleryPage { position: absolute; top: 10%; }
.wheel_hide { display: none }
.image_viewer .preview-search-icon { right: 51px }
.favorite_area .tab_section { padding-bottom: 0; padding-top: 35px }
.favorite_area .tab_area > .tab_section ul { border: 0; box-shadow: none; display: block; text-align: left; padding-left: 10px; padding-top: 0; margin-bottom: 0 }
.favorite_area .tab_area > .tab_section ul li { line-height: 20px }
.favorite_area .tab_area > .tab_section ul li a { margin: 0; color: #fff; border: 0; }
.favorite_area .tab_area .pull-right .swipe { padding-left: 0 }
.favorite_area .pull-right .swipe-option { background: none }
.favorite_area .pull-right .swipe-option a { background: none }
.favorite_area .tab_area > .tab_section { padding-bottom: 0 }
.form_row { position: relative }
.select_input_combo img { height: 15px; max-width: 16px; position: absolute; right: 29px; top: 34px; width: 16px; }
.form_row img { height: 15px; max-width: 16px; position: absolute; right: 10px; top: 13px; width: 16px; }
.bkg1 { background: url("../images/template_bkg1.png") repeat 0 0; cursor: pointer; display: table-cell; height: 54px; text-align: center; vertical-align: middle; width: 54px; }
.bkg1 img { width: auto; max-width: auto }
.bkg1:hover, .bkg1.active { background: url("../images/bkg_dark.png") repeat scroll 0 0; }
#container h3 { padding: 5px 10px; font-size: 18px; border-bottom: 1px solid #C8C8C8; font-weight: normal; }
.initial { padding-top: 0 !important; }
.right_pane_head_section2_temp { padding: 10px 4% 0 4%; }
.label1 { font-weight: normal; width: 100%; font-size: 12px; color: #2e5380 }
.right_pane_head_section2_temp .input { border: none; border-bottom: 1px solid #b0b0b0; font-weight: normal; height: 26px; outline: medium none !important; padding: 3px 0; width: 100%; font-size: 14px; color: #000000; }
.right_pane_head_section2_temp .input:focus { border-bottom: 2px solid #67b9c4 }
::-webkit-input-placeholder {
 color: #000000;
}

:-moz-placeholder { /* Firefox 18- */
 color:  #000000;
}

::-moz-placeholder {  /* Firefox 19+ */
 color:  #000000;
}

:-ms-input-placeholder {
 color:  #000000;
}
#name_error { color: red; display: none; font-size: 12px; font-weight: normal; line-height: 1.1; padding-left: 40%; padding-top: 3px; width: 91%; }
#star { color: red; display: none; float: left; font-size: 12px; font-weight: normal; padding-top: 3px; }
#msg { color: red; display: none; font-size: 11px; font-weight: normal; padding-left: 2%; padding-top: 3px; }
.bkg2 { background: rgba(0, 0, 0, 0) url("../images/template_bkg1_small.png") repeat scroll 0 0; border: 1px solid grey; border-radius: 4px; cursor: pointer; height: 25px; text-align: center; vertical-align: middle; width: 25px; float: left; margin-right: 10px; }
.bkg2 img { width: auto; vertical-align: middle; }
.bottom_buttons_area { bottom: 0; left: 0; margin-right: 15px; position: fixed; width: 100%; text-align: center }
.bottom_buttons_area ul li { display: inline-block; float: left; padding: 0; width: 50%; background: #0a4d87 none repeat scroll 0 0; }
.bottom_buttons_area ul li a { display: block; color: #fff; cursor: pointer; font-size: 14px; line-height: 40px; text-align: center; }
.bottom_buttons_area ul li:first-child a { border-right: 1px solid #fff }
.mid_area { padding-bottom: 50px }
.header-view-inside .header-left a.back-icon { margin-right: 15px; float: left }
.header-view-inside .header-heading { padding-left: 90px }
.tab_area > .tab_section { padding: 10px 0; }
.checked { float: left }
.checked img { margin-left: 10px; width: 23px; }
.pull-right-new { right: 10px }
.modal-dialog-upload { bottom: 0 !important; left: 0!important; margin: 0!important; position: absolute!important; width: 100%!important; }
.option_container ul li a { color: #2a2a2a; font-size: 14px }
.option_container img { width: 20px; margin: 12px 10px 0 0; float: left }
.search_area_myqueue { margin-top: 56px; background: #467cb7; padding: 5px 15px }
.search_area_myqueue > a {  float: left;   margin-left: 16px;   width: 25px; }
.search_area_myqueue .search_area_container { display: block; background: #fff; padding: 5px 5px 0 5px; margin: 0 0 0 52px }
.search_area_myqueue .search_area_container input[type=search] { background: #fff; border: none }
.search_area_myqueue .search_area_container img { width: 15px; float: right; }
.my_queue_list_area ul li { border-bottom: 1px solid #000000; padding: 10px; color: #000; font-size: 13px; cursor:pointer }
.my_queue_list_area ul li span { float: left }
.my_queue_list_area ul li span.high_priority { background: url(../images/high_priority.png) no-repeat 0 center; width: 8px; height: 24px; background-size: 100% 100% }
.my_queue_list_area ul li .col1 { float: left; padding: 0 15px; width: 32% }
.my_queue_list_area ul li .col2 { float: left; width: 50% }
#sort-window-area .modal-header { background-color: #2e5380; border: none; color: #fff; padding: 10px; text-align: left; }
#sort-window-area .modal-header button { color: #fff }
#sort-window-area .modal-header .close { opacity: 1; font-weight: normal }
#sort-window-area ul li { border-bottom: 1px solid #000; padding: 5px 15px; color: #000; font-size: 13px }
#sort-window-area .modal-dialog { width: 270px }
#sort-window-area ul li strong { float: left; width: 30% }
#sort-window-area ul li  span{ background:url(../images/checked_right.png) no-repeat 0 0; background-size:100% 100%; width:18px ; height:14px; display:inline-block}
.tab_area .tabs > ul.tabs02{ border-bottom:1px solid #006699}
.tab_area .tabs > ul.tabs02 > li{ width:33.33%; border-top:0; text-align:center;}
.tab_area_top{ margin-top:65px}
.tab_area .tabs > ul.tabs02 > li a{ display:inline-block}
.tab_area .tabs > ul.tabs02 > li a.active{ background:none; color:#006699; border-bottom:5px solid #006699}
.comments_section h4{ font-size:16px; font-weight:bold}
.comments_section h5{ font-size:15px; font-weight:bold; margin-bottom:10px}
.comments_section textarea{ width:100%; height:100px; padding:2%; margin:5px 0; resize:none; outline:none}
.comments_section ul{ overflow-y:auto; max-height:200px}
.comments_section ul li{ padding:10px 15px;background-color: #f5f5f6;}
.comments_section ul li strong{ cursor:pointer; color: #2cbffd;}
.comments_section ul li:nth-child(2n) {
    background-color: white;
}