<div class="reviewandratingform">
		<form id="reviewandratingform" class="text-left">
			<div class="reviewandratingform-message"></div>
			<div class="main-reviewandratingform">
				<div class="reviewandratingform-group">
					<div class="form-group">
						<label for="review" class="sr-only formId">Review</label>
						<input type="text" class="form-control formValue" id="review" placeholder="Review" name="review">
					</div>
					<div class="form-group">
						<label for="rating" class="sr-only formId">Rating</label>
						<input type="text" class="form-control formValue" id="rating" placeholder="Rating" name="rating">
						</div>
				</div>
				<button class="reviewandrating-button" ng-click="reviewandratingform()">Submit</button>
			</div>
		</form>
</div>