<div class="container-fluid" style="margin-left: 1%; margin-right: 1%;">
	<div class="row">
		<div class="col-md-12">
			<div class="row"
				style="border: 2px solid gainsboro; margin-top: 2%; border-radius: 17px;"
				ng-repeat="data in repeatData">
				<div class="col-md-3" style="margin-top: 2%;">
					<img alt="No image available " src="images/Lighthouse.jpg"
						style="margin-left: 15%;" class="img-circle" />
				</div>
				<div class="col-md-3">
					<p>Description</p>
					<!--<img alt="Bootstrap Image Preview" src={{data.imageData}} class="img-circle">-->
					<p>Full Name: {{data.fullName}}</p>
					<p>Address : {{data.address}}</p>
					<p>City: {{data.city}}</p>
					<p>Suburb : {{data.suburb}}</p>
					<p>Email Id: {{data.emailId}}</p>
					<p>Number Of Rooms : {{data.numberOfRooms}}</p>
					<p>Availability : {{data.availableFrom}} - {{data.availableTo}}</p>
				</div>
				<div class="col-md-3">
					<p>Distance city center: {{data.distanceCityCenter}}</p>
					<p>Air Conditioning: {{data.airConditioning}}</p>
					<p>Availability Of Public Transport :
						{{data.availabilityPublicTransport}}</p>
					<p>Swimming Pool: {{data.swimmingPool}}</p>
					<p>Long Stay Discount : {{data.longStayDiscount}}</p>
					<p>Min. Occupier Rating : {{data.minOccupierRating}}</p>
					<p>Points Needed per week : {{data.pointNeededWeek}}</p>
				</div>
				<div class="col-md-3" style="margin-top: 7%;">
					<button class="btn btn-primary btn-block">Book House</button>
					<button class="btn btn-primary btn-block" ng-click="viewreview()">Review and Ratings</button>
				</div>
			</div>

		</div>
	</div>
</div>